[defaults]
roles_path = ./roles
# Tells Ansible where to look for local roles used in playbooks.
# Without this, Ansible searches only its default role locations.

private_key_file = ~/.ssh/platformops
# Specifies the default SSH private key Ansible uses to authenticate
# when connecting to remote servers, so you don't have to specify
# --private-key on every command.

interpreter_python = auto_silent
# Automatically detects the appropriate Python interpreter on the
# managed host and suppresses interpreter discovery warnings.
# This is useful because different Linux distributions may install
# Python in different locations (for example, /usr/bin/python3 or
# /usr/libexec/platform-python).

retry_files_enabled = False

stdout_callback = ansible.builtin.default
result_format = yaml


timeout = 30
